### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [4]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Calculate the percentage of students who passed math **and** reading (% Overall Passing)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [5]:
#Total number of schools
schoolGroup = school_data_complete.groupby('school_name')
schoolCount = len(schoolGroup)

#Total number of students
studentGroup = school_data_complete.groupby('Student ID')
studentCount = len(studentGroup)

#Total budget
totalBudget = school_data_complete['budget'].sum()

#Average math score
avgMathScore = school_data_complete['math_score'].mean()

#Average reading score
avgReadingScore = school_data_complete['reading_score'].mean()

#Percent of student passing math
passingMathDF = school_data_complete[school_data_complete['math_score'] > 70]
studentsPassingMathCount = len(passingMathDF)
studentsPassingMathPercent = studentsPassingMathCount / studentCount * 100

#Percent of student passing reading
passingReadingDF = school_data_complete[school_data_complete['reading_score'] > 70]
studentsPassingReadingCount = len(passingReadingDF)
studentsPassingReadingPercent = studentsPassingReadingCount / studentCount * 100

#Percent of student passing reading and math
passingOverallDF = school_data_complete[(school_data_complete['math_score'] > 70) & (school_data_complete['reading_score'] > 70)]
studentsPassingOverallCount = len(passingOverallDF)
studentsPassingOverallPercent = studentsPassingOverallCount / studentCount * 100

#Create District dummary dataframe with values calculated above
districtSummaryDF = pd.DataFrame({
                        'Number_of_Schools': [schoolCount],
                        'Number_of_Students': [studentCount],
                        'Total_Budget': [totalBudget],
                        'Average_Math_Score': [avgMathScore],
                        'Average_Reading_Score': [avgReadingScore],
                        'Passing_Math_Percent': [studentsPassingMathPercent],
                        'Passing_Reading_Percent': [studentsPassingReadingPercent],
                        'Passing_Percent': [studentsPassingOverallPercent]
                    })

#Format number in district summary dataframe
districtSummaryDF['Number_of_Students'] = districtSummaryDF['Number_of_Students'].map('{:,}'.format)
districtSummaryDF['Total_Budget'] = districtSummaryDF['Total_Budget'].map('${:,.2f}'.format)
districtSummaryDF['Average_Math_Score'] = districtSummaryDF['Average_Math_Score'].map('{:.2f}%'.format)
districtSummaryDF['Average_Reading_Score'] = districtSummaryDF['Average_Reading_Score'].map('{:.2f}%'.format)
districtSummaryDF['Passing_Math_Percent'] = districtSummaryDF['Passing_Math_Percent'].map('{:.2f}%'.format)
districtSummaryDF['Passing_Reading_Percent'] = districtSummaryDF['Passing_Reading_Percent'].map('{:.2f}%'.format)
districtSummaryDF['Passing_Percent'] = districtSummaryDF['Passing_Percent'].map('{:.2f}%'.format)

districtSummaryDF

,Number_of_Schools,Number_of_Students,Total_Budget,Average_Math_Score,Average_Reading_Score,Passing_Math_Percent,Passing_Reading_Percent,Passing_Percent
0,15,"39,170","$82,932,329,558.00",78.99%,81.88%,72.39%,82.97%,60.80%

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * % Overall Passing (The percentage of students that passed math **and** reading.)
  
* Create a dataframe to hold the above results

In [14]:
#create series of school types
schoolTypeDF = school_data_complete[['school_name', 'type']].drop_duplicates()
schoolTypes = pd.Series(schoolTypeDF['type'].values, schoolTypeDF['school_name'].values)

#create data frames of only passing students
passingMathDF = school_data_complete[school_data_complete['math_score'] > 70]
passingReadingDF = school_data_complete[school_data_complete['reading_score'] > 70]
passingOverallDF = school_data_complete[(school_data_complete['math_score'] > 70) & (school_data_complete['reading_score'] > 70)]

#group data by school
schoolSummaryGroup = school_data_complete.groupby('school_name')
passingMathSchoolSummaryGroup = passingMathDF.groupby('school_name')
passingReadingSchoolSummaryGroup = passingReadingDF.groupby('school_name')
passingOverallSchoolSummaryGroup = passingOverallDF.groupby('school_name')

#find passing student counts by school
passingMathStudentCountBySchool = passingMathSchoolSummaryGroup['Student ID'].count()
passingReadingStudentCountBySchool = passingReadingSchoolSummaryGroup['Student ID'].count()
passingOverallStudentCountBySchool = passingOverallSchoolSummaryGroup['Student ID'].count()

#find student count, total budget, mean scores, budget per student, passing percentages by school
studentCountBySchool = schoolSummaryGroup['Student ID'].count()
budgetSumBySchool = schoolSummaryGroup['budget'].sum()
mathScoreMeanBySchool = schoolSummaryGroup['math_score'].mean()
readingScoreMeanBySchool = schoolSummaryGroup['reading_score'].mean()
perStudentBudgetBySchool = budgetSumBySchool / studentCountBySchool
percentPassingMathBySchool = passingMathStudentCountBySchool / studentCountBySchool
percentPassingReadingBySchool = passingReadingStudentCountBySchool / studentCountBySchool
percentPassingOverallBySchool = passingOverallStudentCountBySchool / studentCountBySchool

# create school dataframe with school data (formatting included)
schoolSummaryDF = pd.DataFrame({
                    'type': schoolTypes,
                    'student_count': studentCountBySchool, 
                    'total_budget': budgetSumBySchool, 
                    'per_student_budget': perStudentBudgetBySchool,
                    'average_math_score': mathScoreMeanBySchool, 
                    'average_reading_score': readingScoreMeanBySchool,
                    'percent_passing_math': percentPassingMathBySchool,
                    'percent_passing_reading': percentPassingReadingBySchool,
                    'percent_passing_overall': percentPassingOverallBySchool
                })

#Format number in school summary dataframe
formattedSchoolSummaryDF = pd.DataFrame({
                    'type': schoolSummaryDF['type'],
                    'student_count': schoolSummaryDF['student_count'], 
                    'total_budget': schoolSummaryDF['total_budget'].map('${:,.2f}'.format), 
                    'per_student_budget': schoolSummaryDF['per_student_budget'].map('${:,.2f}'.format),
                    'average_math_score': schoolSummaryDF['average_math_score'].map('{:.1f} %'.format), 
                    'average_reading_score': schoolSummaryDF['average_reading_score'].map('{:.1f} %'.format),
                    'percent_passing_math': schoolSummaryDF['percent_passing_math'].multiply(100).map('{:.1f} %'.format),
                    'percent_passing_reading': schoolSummaryDF['percent_passing_reading'].multiply(100).map('{:.1f} %'.format),
                    'percent_passing_overall': schoolSummaryDF['percent_passing_overall'].multiply(100).map('{:.1f} %'.format)


                })

formattedSchoolSummaryDF

,type,student_count,total_budget,per_student_budget,average_math_score,average_reading_score,percent_passing_math,percent_passing_reading,percent_passing_overall
Bailey High School,District,4976,"$15,549,641,728.00","$3,124,928.00",77.0 %,81.0 %,64.6 %,79.3 %,51.1 %
Cabrera High School,Charter,1858,"$2,009,159,448.00","$1,081,356.00",83.1 %,84.0 %,89.6 %,93.9 %,84.0 %
Figueroa High School,District,2949,"$5,557,128,039.00","$1,884,411.00",76.7 %,81.2 %,63.8 %,78.4 %,49.9 %
Ford High School,District,2739,"$4,831,365,924.00","$1,763,916.00",77.1 %,80.7 %,65.8 %,77.5 %,51.3 %
Griffin High School,Charter,1468,"$1,346,890,000.00","$917,500.00",83.4 %,83.8 %,89.7 %,93.4 %,83.7 %
Hernandez High School,District,4635,"$14,007,062,700.00","$3,022,020.00",77.3 %,80.9 %,64.7 %,78.2 %,50.2 %
Holden High School,Charter,427,"$105,933,149.00","$248,087.00",83.8 %,83.8 %,90.6 %,92.7 %,84.1 %
Huang High School,District,2917,"$5,573,322,295.00","$1,910,635.00",76.6 %,81.2 %,63.3 %,78.8 %,49.9 %
Johnson High School,District,4761,"$14,733,628,650.00","$3,094,650.00",77.1 %,81.0 %,63.9 %,78.3 %,49.8 %
Pena High School,Charter,962,"$563,595,396.00","$585,858.00",83.8 %,84.0 %,91.7 %,92.2 %,84.8 %
Rodriguez High School,District,3999,"$10,186,904,637.00","$2,547,363.00",76.8 %,80.7 %,64.1 %,77.7 %,49.4 %
Shelton High School,Charter,1761,"$1,860,672,600.00","$1,056,600.00",83.4 %,83.7 %,89.9 %,92.6 %,83.2 %
Thomas High School,Charter,1635,"$1,705,517,550.00","$1,043,130.00",83.4 %,83.8 %,90.2 %,92.9 %,84.3 %
Wilson High School,Charter,2283,"$3,012,587,442.00","$1,319,574.00",83.3 %,84.0 %,90.9 %,93.3 %,84.9 %
Wright High School,Charter,1800,"$1,888,920,000.00","$1,049,400.00",83.7 %,84.0 %,90.3 %,93.4 %,84.4 %

## Top Performing Schools (By % Overall Passing)

* Sort and display the top five performing schools by % overall passing.

In [15]:
topPassingSchoolSummaryDF = formattedSchoolSummaryDF.sort_values(['percent_passing_overall'], ascending = False).head()
topPassingSchoolSummaryDF

,type,student_count,total_budget,per_student_budget,average_math_score,average_reading_score,percent_passing_math,percent_passing_reading,percent_passing_overall
Wilson High School,Charter,2283,"$3,012,587,442.00","$1,319,574.00",83.3 %,84.0 %,90.9 %,93.3 %,84.9 %
Pena High School,Charter,962,"$563,595,396.00","$585,858.00",83.8 %,84.0 %,91.7 %,92.2 %,84.8 %
Wright High School,Charter,1800,"$1,888,920,000.00","$1,049,400.00",83.7 %,84.0 %,90.3 %,93.4 %,84.4 %
Thomas High School,Charter,1635,"$1,705,517,550.00","$1,043,130.00",83.4 %,83.8 %,90.2 %,92.9 %,84.3 %
Holden High School,Charter,427,"$105,933,149.00","$248,087.00",83.8 %,83.8 %,90.6 %,92.7 %,84.1 %

## Bottom Performing Schools (By % Overall Passing)

* Sort and display the five worst-performing schools by % overall passing.

In [16]:
bottomPassingSchoolSummaryDF = formattedSchoolSummaryDF.sort_values(['percent_passing_overall'], ascending = True).head()
bottomPassingSchoolSummaryDF

,type,student_count,total_budget,per_student_budget,average_math_score,average_reading_score,percent_passing_math,percent_passing_reading,percent_passing_overall
Rodriguez High School,District,3999,"$10,186,904,637.00","$2,547,363.00",76.8 %,80.7 %,64.1 %,77.7 %,49.4 %
Johnson High School,District,4761,"$14,733,628,650.00","$3,094,650.00",77.1 %,81.0 %,63.9 %,78.3 %,49.8 %
Figueroa High School,District,2949,"$5,557,128,039.00","$1,884,411.00",76.7 %,81.2 %,63.8 %,78.4 %,49.9 %
Huang High School,District,2917,"$5,573,322,295.00","$1,910,635.00",76.6 %,81.2 %,63.3 %,78.8 %,49.9 %
Hernandez High School,District,4635,"$14,007,062,700.00","$3,022,020.00",77.3 %,80.9 %,64.7 %,78.2 %,50.2 %

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

In [17]:
#create math score series for each grade
ninthGradeDF = school_data_complete[school_data_complete['grade'] == '9th']
ninthGradeMathScoreSeries = ninthGradeDF.groupby('school_name')['math_score'].mean()

tenthGradeDF = school_data_complete[school_data_complete['grade'] == '10th']
tenthGradeMathScoreSeries = tenthGradeDF.groupby('school_name')['math_score'].mean()

eleventhGradeDF = school_data_complete[school_data_complete['grade'] == '11th']
eleventhGradeMathScoreSeries = eleventhGradeDF.groupby('school_name')['math_score'].mean()

twelfthGradeDF = school_data_complete[school_data_complete['grade'] == '12th']
twelfthGradeMathScoreSeries = twelfthGradeDF.groupby('school_name')['math_score'].mean()

#combine series for each grade into a table to hold all grades
gradeMathScoresBySchool = pd.DataFrame({
                             '9th_grade': ninthGradeMathScoreSeries.map("{:,.1f} %".format),
                             '10th_grade': tenthGradeMathScoreSeries.map("{:,.1f} %".format),
                             '11th_grade': eleventhGradeMathScoreSeries.map("{:,.1f} %".format),
                             '12th_grade': twelfthGradeMathScoreSeries.map("{:,.1f} %".format),
                            })
gradeMathScoresBySchool

                      9th_grade 10th_grade 11th_grade 12th_grade
school_name
Bailey High School       77.1 %     77.0 %     77.5 %     76.5 %
Cabrera High School      83.1 %     83.2 %     82.8 %     83.3 %
Figueroa High School     76.4 %     76.5 %     76.9 %     77.2 %
Ford High School         77.4 %     77.7 %     76.9 %     76.2 %
Griffin High School      82.0 %     84.2 %     83.8 %     83.4 %
Hernandez High School    77.4 %     77.3 %     77.1 %     77.2 %
Holden High School       83.8 %     83.4 %     85.0 %     82.9 %
Huang High School        77.0 %     75.9 %     76.4 %     77.2 %
Johnson High School      77.2 %     76.7 %     77.5 %     76.9 %
Pena High School         83.6 %     83.4 %     84.3 %     84.1 %
Rodriguez High School    76.9 %     76.6 %     76.4 %     77.7 %
Shelton High School      83.4 %     82.9 %     83.4 %     83.8 %
Thomas High School       83.6 %     83.1 %     83.5 %     83.5 %
Wilson High School       83.1 %     83.7 %     83.2 %     83.0 %
Wright High School       83.3 %     84.0 %     83.8 %     83.6 %

## Reading Score by Grade

* Perform the same operations as above for reading scores

In [18]:
#create math score series for each grade
ninthGradeReadingScoreSeries = ninthGradeDF.groupby('school_name')['reading_score'].mean()

tenthGradeReadingScoreSeries = tenthGradeDF.groupby('school_name')['reading_score'].mean()

eleventhGradeReadingScoreSeries = eleventhGradeDF.groupby('school_name')['reading_score'].mean()

twelfthGradeReadingScoreSeries = twelfthGradeDF.groupby('school_name')['reading_score'].mean()

#combine series for each grade into a table to hold all grades with formatting
gradeReadingScoresBySchool = pd.DataFrame({
                             '9th_grade': ninthGradeReadingScoreSeries.map("{:,.1f} %".format),
                             '10th_grade': tenthGradeReadingScoreSeries.map("{:,.1f} %".format),
                             '11th_grade': eleventhGradeReadingScoreSeries.map("{:,.1f} %".format),
                             '12th_grade': twelfthGradeReadingScoreSeries.map("{:,.1f} %".format),
                            })
gradeReadingScoresBySchool

                      9th_grade 10th_grade 11th_grade 12th_grade
school_name
Bailey High School       81.3 %     80.9 %     80.9 %     80.9 %
Cabrera High School      83.7 %     84.3 %     83.8 %     84.3 %
Figueroa High School     81.2 %     81.4 %     80.6 %     81.4 %
Ford High School         80.6 %     81.3 %     80.4 %     80.7 %
Griffin High School      83.4 %     83.7 %     84.3 %     84.0 %
Hernandez High School    80.9 %     80.7 %     81.4 %     80.9 %
Holden High School       83.7 %     83.3 %     83.8 %     84.7 %
Huang High School        81.3 %     81.5 %     81.4 %     80.3 %
Johnson High School      81.3 %     80.8 %     80.6 %     81.2 %
Pena High School         83.8 %     83.6 %     84.3 %     84.6 %
Rodriguez High School    81.0 %     80.6 %     80.9 %     80.4 %
Shelton High School      84.1 %     83.4 %     84.4 %     82.8 %
Thomas High School       83.7 %     84.3 %     83.6 %     83.8 %
Wilson High School       83.9 %     84.0 %     83.8 %     84.3 %
Wright High School       83.8 %     83.8 %     84.2 %     84.1 %

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [42]:

#find maximum budget (needs to be included in histogram)
maxPerStudentBudget = max(schoolSummaryDF['per_student_budget'])

#group by 4 budget bins from zero to the up to, and including, the maximum budget
studentBudgetBinGroup = schoolSummaryDF.groupby(pd.cut(schoolSummaryDF['per_student_budget'],[0, 1000000, 2000000, 3000000, maxPerStudentBudget + 1], right = False))

#find mean scores within bins
mathScoreMeanByBudgetBin = studentBudgetBinGroup['average_math_score'].mean()
readingScoreMeanByBudgetBin = studentBudgetBinGroup['average_reading_score'].mean()
mathScorePercentPassByBudgetBin = studentBudgetBinGroup['percent_passing_math'].mean()
readingScorePercentPassByBudgetBin = studentBudgetBinGroup['percent_passing_reading'].mean()
overallScorePercentPassByBudgetBin = studentBudgetBinGroup['percent_passing_overall'].mean()

#write dataframe to hold scores in bins
budgetBinDF = pd.DataFrame({
                'average_math_score': mathScoreMeanByBudgetBin.map("{:,.1f} %".format),
                'average_reading_score': readingScoreMeanByBudgetBin.map("{:,.1f} %".format),
                'percent_passing_math': mathScorePercentPassByBudgetBin.multiply(100).map("{:,.1f} %".format),
                'percent_passing_reading': readingScorePercentPassByBudgetBin.multiply(100).map("{:,.1f} %".format),
                'percent_passing_overall': overallScorePercentPassByBudgetBin.multiply(100).map("{:,.1f} %".format),
                })

#rename bins for visibility
budgetBinDF.index = ['<$1,000,000', '$1,000,000 to $2,000,000', '$2,000,000 to $3,000,000', '>$5,000,000']
budgetBinDF

,average_math_score,average_reading_score,percent_passing_math,percent_passing_reading,percent_passing_overall
"<$1,000,000",83.7 %,83.9 %,90.7 %,92.8 %,84.2 %
"$1,000,000 to $2,000,000",80.9 %,82.8 %,80.5 %,87.6 %,71.5 %
"$2,000,000 to $3,000,000",76.8 %,80.7 %,64.1 %,77.7 %,49.4 %
">$5,000,000",77.1 %,81.0 %,64.4 %,78.6 %,50.4 %

## Scores by School Size

* Perform the same operations as above, based on school size.

In [43]:
#find maximum budget (needs to be included in histogram)
maxStudentCount = max(schoolSummaryDF['student_count'])

#group by 4 studentCount bins from zero to the up to, and including, the maximum budget
studentCountBinGroup = schoolSummaryDF.groupby(pd.cut(schoolSummaryDF['student_count'],[0, 1250, 2500, 3750, maxStudentCount + 1], right = False))

#find mean scores within bins
mathScoreMeanByStudentCountBin = studentCountBinGroup['average_math_score'].mean()
readingScoreMeanByStudentCountBin = studentCountBinGroup['average_reading_score'].mean()
mathScorePercentPassByStudentCountBin = studentCountBinGroup['percent_passing_math'].mean()
readingScorePercentPassByStudentCountBin = studentCountBinGroup['percent_passing_reading'].mean()
overallScorePercentPassByStudentCountBin = studentCountBinGroup['percent_passing_overall'].mean()

#write dataframe to hold scores in bins
studentCountBinDF = pd.DataFrame({
                'average_math_score': mathScoreMeanByStudentCountBin.map("{:,.1f} %".format),
                'average_reading_score': readingScoreMeanByStudentCountBin.map("{:,.1f} %".format),
                'percent_passing_math': mathScorePercentPassByStudentCountBin.multiply(100).map("{:,.1f} %".format),
                'percent_passing_reading': readingScorePercentPassByStudentCountBin.multiply(100).map("{:,.1f} %".format),
                'percent_passing_overall': overallScorePercentPassByStudentCountBin.multiply(100).map("{:,.1f} %".format),
                })

#rename bins for visibility
studentCountBinDF.index = ['<1,250', '1,250 to 2,500', '2,500 to 3,750', '>3,750']
studentCountBinDF

,average_math_score,average_reading_score,percent_passing_math,percent_passing_reading,percent_passing_overall
"<1,250",83.8 %,83.9 %,91.2 %,92.5 %,84.4 %
"1,250 to 2,500",83.4 %,83.9 %,90.1 %,93.2 %,84.1 %
"2,500 to 3,750",76.8 %,81.0 %,64.3 %,78.3 %,50.4 %
">3,750",77.1 %,80.9 %,64.3 %,78.4 %,50.1 %

## Scores by School Type

* Perform the same operations as above, based on school type

In [44]:
#group records by school type
typeGroup = schoolSummaryDF.groupby('type')

#find mean score for each school type
mathScoreMeanByType = typeGroup['average_math_score'].mean()
readingScoreMeanByType = typeGroup['average_reading_score'].mean()
mathScorePercentPassByType = typeGroup['percent_passing_math'].mean()
readingScorePercentPassByType = typeGroup['percent_passing_reading'].mean()
overallScorePercentPassByType = typeGroup['percent_passing_overall'].mean()

#create data frame to hold mean scores by school type
typeDF = pd.DataFrame({
                'average_math_score': mathScoreMeanByType.map("{:,.1f} %".format),
                'average_reading_score': readingScoreMeanByType.map("{:,.1f} %".format),
                'percent_passing_math': mathScorePercentPassByType.multiply(100).map("{:,.1f} %".format),
                'percent_passing_reading': readingScorePercentPassByType.multiply(100).map("{:,.1f} %".format),
                'percent_passing_overall': overallScorePercentPassByType.multiply(100).map("{:,.1f} %".format),
                })
typeDF

,average_math_score,average_reading_score,percent_passing_math,percent_passing_reading,percent_passing_overall
type,,,,,
Charter,83.5 %,83.9 %,90.4 %,93.1 %,84.2 %
District,77.0 %,81.0 %,64.3 %,78.3 %,50.2 %